html,
body {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  font-family: sans-serif;
}
*{
  padding: 0;
  margin: 0;
}

:root{
  --text-primary: #9e9e9e;
  --text-secondary: #bdbdbd;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
