.maincontainer{
    width:100%;
    overflow: hidden;
}
.container
{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    grid-column-gap: 2vw;
    margin: 1.5%;
    flex: 1;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.Products{
    background:linear-gradient(90deg, rgba(0, 83, 255, 1) 0%, rgba(0, 212, 201, 1) 68%, rgba(119, 247, 245, 1) 100%);
    text-align: center;
    border-radius: 7px;
    color: white;
    padding: 12px 0;
    box-shadow: 3px 0px 6px 0px rgba(146, 142, 142, 0.75);
}

.Products span {
    float: left;
    padding: 1.5px 0px 1.5px 15px;
}

.Products:hover {
    cursor: pointer;
    background-color: rgb(243, 20, 20);
}
.Users{
    background-image: linear-gradient(to right,rgb(204, 0, 82), rgb(255, 26, 117),rgb(255, 179, 209));
    text-align: center;
    border-radius: 7px;
    color: white;
    padding: 12px 0;
    box-shadow: 3px 0px 6px 0px rgba(146, 142, 142, 0.75);
}

.Users span {
    float: left;
    padding: 1.5px 0px 1.5px 15px;
}

.Users:hover {
    cursor: pointer;
    background-color: rgb(40, 137, 216);
}
.PendingOrders{
    background-image: linear-gradient(to right,rgb(0, 153, 0), rgb(0, 255, 0),rgb(128, 255, 128));
    text-align: center;
    border-radius: 7px;
    color: white;
    padding: 12px 0;
    box-shadow: 3px 0px 6px 0px rgba(146, 142, 142, 0.75);
}

.PendingOrders span {
    float: left;
    padding: 1.5px 0px 1.5px 15px;
}

.PendingOrders:hover {
    cursor: pointer;
    background-color: rgb(141, 12, 181);
}
.TotalOrders{
    background:linear-gradient(90deg, rgba(156, 39, 176, 1) 7%, rgba(49, 220, 255, 1) 100%);
    text-align: center;
    border-radius: 7px;
    color: white;
    padding: 12px 0;
    box-shadow: 3px 0px 6px 0px rgba(146, 142, 142, 0.75);
}

.TotalOrders span {
    float: left;
    padding: 1.5px 0px 1.5px 15px;
}

.TotalOrders:hover {
    cursor: pointer;
    background-color: rgb(60, 209, 15);
}
.TotalProfit{
    background:linear-gradient(90deg, rgba(238, 21, 5, 1) 7%, rgba(255, 222, 49, 1) 100%);
    text-align: center;
    border-radius: 7px;
    color: white;
    padding: 12px 0;
    box-shadow: 3px 0px 6px 0px rgba(146, 142, 142, 0.75);
}

.TotalProfit span {
    float: left;
    padding: 1.5px 0px 1.5px 15px;
}

.TotalProfit:hover {
    cursor: pointer;
    background-color: rgb(234, 18, 180);
}

.container2 {
    display: grid;
    grid-template-columns: 60vw auto;
    grid-template-rows: 90vh;
    grid-column-gap: 1vw;
    margin: 1.5%;
    flex: 1;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.Graphcontainer{
    background-color: rgb(229, 236, 237);
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 5px rgb(194, 190, 190);
}
.RecentBuyers{
    background-color: rgb(229, 236, 237);
    text-align: left;
    padding-left: 4%;
    position: static;
    background-color: white;
    box-shadow: 0px 0px 5px rgb(194, 190, 190);
}

.heading {
    margin: 20px 20px 20px 20px;
    font-weight: 600;
}

.reload {
    margin: -18px 15px 10px 10px;
    place-content: right;
    position: relative;
    top: -3.5%;
    left: 85%;
}

.reload:hover {
    color: rgb(102, 100, 100);
}

.Buyer {
    text-align: left;
}

.Buyer img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
    object-fit: fill;
    margin: -1% 5% 2% 2%;
}

.Buyer p {
    margin: 6% 0% 1.5% 0%;
}
.buyeritem1{
    background-color: rgb(157, 243, 246);
    border-radius: 5px;
    margin-right: 3%;
}

.buyeritem2 {
    background-color: greenyellow;
    border-radius: 5px;
}

.Buyerbill {
    margin-top: 1%;
}