.categoriesdiv{
    padding:40px;
    color: #5e5c5d;
    background-color: #f5f5f5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    
    background-color: white;
    box-shadow: 0px 0px 10px rgb(199, 199, 199);
}
.tablediv{
    padding: 20px;
}
.tablediv table{
    
    width: 100%;
    text-align: center;
    
}
.tablediv table,.tablediv th ,.tablediv td{
    border: 1px solid #e2e2e2;
    border-collapse: collapse;
}
.tablediv th, .tablediv td{
    padding:20px 20px;
}
.tablediv tr{
    background-color: white;
}
.tablediv tr:nth-child(even) {
    background-color: rgb(245, 244, 244);
}

.buttondiv{
    padding: 20px 20px 0 20px;
    display: flex;
}
.buttondiv div{
    flex: 1;
   text-align: left;
}
.buttondiv button {
    background-color: rgb(12, 184, 20);
	
    cursor: pointer;
	font-size: 20px;
	border: none;
	color: white;
	font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
	border-radius: 4px;
	padding: 10px 20px;
}
.buttondiv button:hover{
    background-color: rgb(8, 156, 15);
    transition: 0.4s;
}

#id{
    font-weight: bold;
}

#active {
    color: rgb(9, 167, 9);
}
#inactive{
    color:rgb(235, 10, 10)
}
#delete, #edit{
    cursor: pointer;
    font-size: 23px;
}
#delete{
    color: red;
    
}
#edit{
    color:rgb(16, 143, 227);
}
#delete:hover{
    color:rgb(212, 17, 17);
}
#edit:hover{
    color:rgb(0, 0, 204);
}